/* screen - desktop-17 */

.desktop-17 {
  align-items: flex-start;
  background-color: var(--main-gray);
  display: flex;
  height: 900px;
  justify-content: center;
  overflow: hidden;
  width: 1440px;
}

.desktop-17 .nav-bar {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 74px;
  justify-content: flex-end;
  left: -1px;
  min-width: 1442px;
  padding: 16px 26px;
  position: fixed;
  top: -1px;
  z-index: 4;
}

.desktop-17 .menu {
  height: 32px;
  margin-bottom: 2.0px;
  width: 32px;
}

.desktop-17 .helloprofile {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 4.0px;
  margin-left: 12px;
  min-width: 140px;
  white-space: nowrap;
}

.desktop-17 .seperator {
  align-self: flex-start;
  background-color: var(--loblolly);
  border-radius: 2px;
  height: 40px;
  margin-left: 19px;
  width: 1px;
}

.desktop-17 .dashboard {
  color: var(--tangaroa);
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  margin-bottom: 2.0px;
  margin-left: 16px;
  white-space: nowrap;
  width: 106px;
}

.desktop-17 .seperator-1 {
  align-self: flex-start;
  background-color: var(--loblolly);
  border-radius: 2px;
  height: 40px;
  margin-left: 852px;
  width: 1px;
}

.desktop-17 .overlap-group3 {
  height: 22px;
  margin-bottom: 2.04px;
  margin-left: 26px;
  position: relative;
  width: 21px;
}

.desktop-17 .ellipse_739 {
  border-radius: 9.99px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.desktop-17 .line_181 {
  height: 7px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 6px;
}

.desktop-17 .group-1127 {
  align-items: flex-end;
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: 31px;
  margin-top: 4px;
  min-width: 25px;
}

.desktop-17 .overlap-group2 {
  height: 25px;
  margin-bottom: -1px;
  margin-left: -1px;
  position: relative;
  width: 26px;
}

.desktop-17 .message {
  height: 18px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 20px;
}

.desktop-17 .overlap-group {
  align-items: flex-start;
  background-color: var(--main-brand);
  border-radius: 6px;
  display: flex;
  height: 12px;
  left: 14px;
  min-width: 12px;
  padding: 1.5px 3px;
  position: absolute;
  top: 0;
}

.desktop-17 .number {
  height: 8px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 6px;
}

.desktop-17 .notification {
  align-items: flex-end;
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  height: 26px;
  margin-left: 25px;
  margin-top: 4px;
  min-width: 22px;
}

.desktop-17 .group-container {
  height: 27px;
  margin-bottom: -1.0px;
  margin-left: -1px;
  position: relative;
  width: 23px;
}

.desktop-17 .group-1128 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 19px;
}

.desktop-17 .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--main-brand);
  border-radius: 6px;
  display: flex;
  height: 12px;
  left: 11px;
  min-width: 12px;
  padding: 1.5px 3px;
  position: absolute;
  top: 0;
}

.desktop-17 .rectangle-881 {
  height: 30px;
  margin-bottom: 2.0px;
  margin-left: 28px;
  width: 30px;
}

.desktop-17 .frame-1149 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  min-height: 800px;
  padding: 16px 0;
  width: 216px;
  z-index: 3;
}

.desktop-17 .rectangle-881-1 {
  height: 100px;
  margin-left: 2.0px;
  margin-top: 15px;
  width: 100px;
}

.desktop-17 .group-container-1 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-left: 20.65px;
  margin-top: 30px;
  min-width: 125px;
}

.desktop-17 .overlap-group1 {
  height: 18px;
  margin-bottom: 1.65px;
  position: relative;
  width: 16px;
}

.desktop-17 .ellipse_736 {
  border-radius: 5.2px;
  height: 10px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 10px;
}

.desktop-17 .path_33945 {
  height: 8px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 16px;
}

.desktop-17 .group-1123 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 21px;
  min-width: 88px;
}

.desktop-17 .my-account {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-17 .vector-5 {
  height: 2px;
  margin-top: 20px;
  width: 190px;
}

.desktop-17 .overlap-group2-1 {
  align-items: flex-start;
  background-color: var(--robins-egg-blue);
  display: flex;
  height: 40px;
  margin-top: 20px;
  min-width: 216px;
  padding: 10.0px 20.0px;
}

.desktop-17 .category {
  height: 18px;
  width: 18px;
}

.desktop-17 .overview {
  height: 17px;
  letter-spacing: 0;
  margin-left: 20px;
  margin-top: 0;
  width: 106px;
}

.desktop-17 .flex-row {
  align-items: flex-start;
  display: flex;
  margin-right: 14.26px;
  margin-top: 16px;
  min-width: 160px;
}

.desktop-17 .document {
  height: 18px;
  width: 17px;
}

.desktop-17 .contact-manager {
  cursor: pointer;
  height: 17px;
  letter-spacing: 0;
  margin-left: 20px;
}

.desktop-17 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 25.39px;
  margin-top: 28px;
  min-width: 151px;
}

.desktop-17 .work {
  align-self: flex-end;
  height: 18px;
  width: 19px;
}

.desktop-17 .profile-manager {
  cursor: pointer;
  height: 17px;
  letter-spacing: 0;
  margin-left: 19px;
}

.desktop-17 .flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-right: 32.0px;
  margin-top: 28px;
  min-width: 144px;
}

.desktop-17 .chart {
  align-self: flex-end;
  height: 18px;
  width: 18px;
}

.desktop-17 .analytics {
  height: 17px;
  letter-spacing: 0;
  margin-left: 20px;
  width: 106px;
}

.desktop-17 .flex-row-3 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 20.9px;
  margin-top: 28px;
  min-width: 96px;
}

.desktop-17 .overlap-group-2 {
  align-items: flex-start;
  align-self: flex-end;
  background-image: url(./img/path-33946-2@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 18px;
  justify-content: flex-end;
  min-width: 17px;
  padding: 5.8px 5.3px;
}

.desktop-17 .ellipse_737 {
  border-radius: 3.19px;
  height: 6px;
  width: 6px;
}

.desktop-17 .settings {
  height: 17px;
  letter-spacing: 0;
  margin-left: 20px;
}

.desktop-17 .flex-row-4 {
  align-items: flex-start;
  display: flex;
  margin-right: 30.0px;
  margin-top: 28px;
  min-width: 146px;
}

.desktop-17 .group-1125 {
  align-self: flex-end;
  height: 18px;
  width: 18px;
}

.desktop-17 .help-support {
  height: 17px;
  letter-spacing: 0;
  margin-left: 20px;
}

.desktop-17 .flex-row-5 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 20px;
  margin-left: 20px;
  margin-top: 25px;
  min-width: 82px;
}

.desktop-17 .group-7080 {
  height: 19px;
  width: 18px;
}

.desktop-17 .about {
  align-self: flex-end;
  height: 17px;
  letter-spacing: 0;
  margin-left: 20px;
  min-width: 44px;
}

.desktop-17 .vector-6 {
  height: 2px;
  margin-top: 208px;
  width: 190px;
}

.desktop-17 .flex-row-6 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 19.73px;
  margin-top: 26px;
  min-width: 98px;
}

.desktop-17 .logout {
  height: 18px;
  width: 19px;
}

.desktop-17 .log-out {
  color: var(--red);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 17px;
  letter-spacing: 0;
  margin-left: 22px;
}

.desktop-17 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 108px;
  min-height: 759px;
  width: 948px;
  z-index: 1;
}

.desktop-17 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 330px;
  width: 943px;
}

.desktop-17 .flex-row-7 {
  align-items: flex-start;
  display: flex;
  min-width: 943px;
}

.desktop-17 .hero-title-headingsl-1 {
  height: 40px;
  letter-spacing: 0;
  line-height: 40px;
  min-width: 309px;
  white-space: nowrap;
}

.desktop-17 .button-auth {
  align-items: center;
  border: 1.5px solid var(--main-brand);
  border-radius: 8px;
  display: flex;
  height: 40px;
  margin-left: 499px;
  min-width: 135px;
  padding: 0 9.9px;
}

.desktop-17 .group {
  height: 20px;
  width: 21px;
}

.desktop-17 .share-profile {
  height: 18px;
  letter-spacing: 0;
  margin-left: 7px;
  min-width: 86px;
  text-align: center;
}

.desktop-17 .welcome-and-good-to-have-you-back {
  color: var(--black);
  font-weight: 500;
  height: 16px;
  line-height: 16.0px;
  margin-left: 3px;
  margin-top: 15px;
  white-space: nowrap;
}

.desktop-17 .vector-5-1 {
  height: 2px;
  margin-left: 3px;
  margin-top: 20px;
  width: 940px;
}

.desktop-17 .task-heading-headingsm {
  color: #172b4d;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 6px;
  margin-top: 13px;
  min-height: 32px;
  white-space: nowrap;
}

.desktop-17 .tasks {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-top: 8px;
  min-height: 184px;
  width: 744px;
}

.desktop-17 .task-notification {
  align-items: center;
  background-color: var(--white);
  border-radius: 1px;
  display: flex;
  height: 80px;
  min-width: 744px;
  padding: 0 24px;
}

.desktop-17 .circle-empty {
  background-color: var(--concrete);
  border-radius: 16px;
  height: 32px;
  width: 32px;
}

.desktop-17 .task-heading-headingss {
  color: var(--log-cabin);
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  margin-left: 18px;
  min-width: 220px;
  white-space: nowrap;
}

.desktop-17 .label {
  color: var(--main-brand);
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  margin-left: 371px;
  min-width: 43px;
  text-align: center;
  white-space: nowrap;
}

.desktop-17 .task-notification-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 1px;
  display: flex;
  height: 80px;
  margin-top: 8px;
  min-width: 744px;
  padding: 0 24px;
}

.desktop-17 .task-heading-headingss-1 {
  color: var(--log-cabin);
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  margin-left: 18px;
  min-width: 202px;
  white-space: nowrap;
}

.desktop-17 .button {
  align-items: center;
  background-color: #091e420a;
  border-radius: 3px;
  display: flex;
  height: 32px;
  margin-left: 361px;
  min-width: 83px;
  padding: 0 12px;
}

.desktop-17 .label-1 {
  color: #42526e;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  min-width: 59px;
  text-align: center;
  white-space: nowrap;
}

.desktop-17 .flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 81px;
  margin-left: 1px;
  margin-top: 32px;
  min-width: 942px;
}

.desktop-17 .hero-title-headingsl-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 81px;
  width: 136px;
}

.desktop-17 .hero-title-headingsl-2 {
  height: 40px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.desktop-17 .hero-title-headingsl-3 {
  height: 18px;
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 23px;
}

.desktop-17 .hero-title-headingsl-4 {
  align-self: flex-end;
  height: 18px;
  letter-spacing: 0;
  margin-left: 193px;
  min-width: 91px;
}

.desktop-17 .hero-title-headingsl-5 {
  align-self: flex-end;
  height: 18px;
  letter-spacing: 0;
  margin-left: 234px;
  min-width: 63px;
}

.desktop-17 .group-1147 {
  height: 12px;
  margin-left: 69px;
  margin-top: 17px;
  width: 13px;
}

.desktop-17 .hero-title-headingsl-6 {
  height: 18px;
  letter-spacing: 0;
  margin-left: 7px;
  margin-top: 14px;
}

.desktop-17 .flex-row-9 {
  align-items: center;
  display: flex;
  margin-left: 3px;
  margin-top: 9px;
  min-width: 732px;
}

.desktop-17 .rectangle-887 {
  background-color: var(--active);
  border-radius: 10px;
  height: 12px;
  width: 12px;
}

.desktop-17 .hero-title-headingsl {
  color: var(--tangaroa);
  font-weight: 700;
  height: 18px;
  margin-left: 10px;
  min-width: 46px;
}

.desktop-17 .rectangle-888 {
  background-color: var(--active);
  border-radius: 10px;
  height: 12px;
  margin-left: 259px;
  width: 12px;
}

.desktop-17 .rectangle-889 {
  background-color: #ff1d1d;
  border-radius: 10px;
  height: 12px;
  margin-left: 257px;
  width: 12px;
}

.desktop-17 .hero-title-headingsl-7 {
  color: var(--tangaroa);
  font-weight: 700;
  height: 18px;
  margin-left: 10px;
  min-width: 58px;
}

.desktop-17 .flex-row-10 {
  align-items: flex-start;
  display: flex;
  margin-left: 3px;
  margin-top: 16px;
  min-width: 940px;
}

.desktop-17 .group-container-2 {
  align-items: center;
  background-color: var(--mine-shaft);
  border-radius: 10px;
  box-shadow: 0px 5px 10px #0000001a;
  display: flex;
  height: 180px;
  margin-top: 5px;
  min-width: 286px;
  padding: 0 26px;
}

.desktop-17 .overlap-group-3 {
  height: 102px;
  position: relative;
  width: 102px;
}

.desktop-17 .rectangle-872 {
  height: 86px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 86px;
}

.desktop-17 .rectangle-886 {
  height: 102px;
  left: 0;
  position: absolute;
  top: 0;
  width: 102px;
}

.desktop-17 .group-1132 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-height: 34px;
  width: 106px;
}

.desktop-17 .hero-title-headingsl-8 {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 22px;
  letter-spacing: 0;
}

.desktop-17 .hero-title-headingsl-9 {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxs);
  font-weight: 600;
  height: 11px;
  letter-spacing: 1.50px;
  margin-top: 1px;
}

.desktop-17 .frame-1150 {
  height: 200px;
  margin-left: 31px;
  width: 307px;
}

.desktop-17 .hero-title-headingsl-container-1 {
  align-items: flex-start;
  background-color: var(--main-brand);
  border: 1px solid var(--black-2);
  border-radius: 10px;
  box-shadow: 0px 5px 10px #00000033;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 5px;
  min-height: 180px;
  padding: 67px 34px;
  width: 286px;
}

.desktop-17 .hero-title-headingsl-10 {
  height: 18px;
  letter-spacing: 0;
}

.desktop-17 .hero-title-headingsl-11 {
  color: var(--white);
  font-weight: 600;
  height: 22px;
  margin-top: 4px;
}

.desktop-17 .group-1146 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 49px;
  min-width: 86px;
}

.desktop-17 .hero-title-headingsl-12 {
  align-self: center;
  color: var(--main-brand);
  font-weight: 700;
  height: 18px;
  min-width: 54px;
}

.desktop-17 .iconly {
  height: 24px;
  margin-left: 6px;
  margin-top: -0.03px;
  width: 24px;
}

.desktop-17 .group-1135 {
  align-items: flex-end;
  background-color: var(--white);
  background-image: url(./img/ellipse-24-2@2x.svg);
  background-size: 100% 100%;
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 181px;
  margin-top: 830px;
  min-width: 48px;
  padding: 13.4px 13px;
  z-index: 2;
}

.desktop-17 .subtract {
  height: 19px;
  width: 19px;
}
